In [1]:
import pyodbc
from  dotenv import dotenv_values    #import dotenv_values function from the dotenv package
import pandas as pd
import warnings
import os

warnings.filterwarnings("ignore")

In [3]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')


# Get the values for the credentials you set in the '.env' file
database = environment_variables.get("DATABASE")
server = environment_variables.get("SERVER")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")


connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"

In [4]:
# Use the connect method of the pyodbc library and pass in the connection string.
# This will connect to the server and might take a few seconds to be complete. 
# Check your internet connection if it takes more time than necessary

connection = pyodbc.connect(connection_string)

In [5]:
# Now create the sql query to get the data is what what you see below. 

query1 = "Select * from dbo.LP1_startup_funding2020"


query2 = "Select * from dbo.LP1_startup_funding2021"

In [6]:
#Run the query wih aid of the connection and convert the 2020 data into a dataframe
data1 = pd.read_sql(query1, connection)

In [7]:
# Example: Preview of the first few rows of the DataFrame in data1
#NB There's an empty column name column10.
data1.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [8]:
# Display the information summary of 2020 start_up data
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.5+ KB

In [9]:
# Check the number of rows and columns

num_rows = data1.shape[0]
num_columns = data1.shape[1]

print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

Number of rows: 1055
Number of columns: 10

In [10]:
#Run the query wih aid of the connection and convert the 2021 data into a dataframe
data2 = pd.read_sql(query2, connection)

In [11]:
 # Preview of the first five rows of the DataFrame in data2
data2.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [12]:
# Display the information summary in 2021 start_up data
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [13]:
# Check the number of rows and columns in data2

num_rows = data2.shape[0]
num_columns = data2.shape[1]

print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

Number of rows: 1209
Number of columns: 9

In [14]:
# Let us Concatenate data1 and data2 into a new variable named df

df = pd.concat([data1, data2])

#Preview of the concatenated data
df.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [15]:
# Display the information summary of the concatenated data (i.e 2020 & 2021 startup_funding data)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2264 entries, 0 to 1208
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  2264 non-null   object
 1   Founded        2050 non-null   float64
 2   HeadQuarter    2169 non-null   object
 3   Sector         2251 non-null   object
 4   What_it_does   2264 non-null   object
 5   Founders       2248 non-null   object
 6   Investor       2164 non-null   object
 7   Amount         2007 non-null   object
 8   Stage          1372 non-null   object
 9   column10       2 non-null      object
dtypes: float64(1), object(9)
memory usage: 194.6+ KB

In [16]:
#Let us delete the column named column10 because it's missing alot of data. Nearly empty.
#We will use pandas drop method
df1= df.drop(["column10"], axis=1)

#Preview of the modified data to confirm change
df1.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None

In [17]:
# Check the number of rows and columns of the modified data

num_rows = df1.shape[0]
num_columns = df1.shape[1]

print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

Number of rows: 2264
Number of columns: 9

In [18]:
#Conversion of the modified data to csv(i.e contains 2020 & 2021 data)

df1.to_csv("2020-2021_data.csv", index=False)

In [19]:
#Let us have files of 2020 and 2021 data in csv format
#conversion of 2020 & 2021 data into csv

data1.to_csv("startup_funding2020.csv")

data2.to_csv("startup_funding2021.csv")

In [22]:
#I have related indian_start-up data that was stored separately.
#The 2018 data was stored in a GitHub repository, and 2019 data was stored in onedrive.
#Both data set have been collected and saved in my working directory.
#let's load all the data using pandas read_csv method for subsequent analysis

dfA = pd.read_csv("startup_funding2018.csv", encoding='latin-1')
dfB = pd.read_csv("startup_funding2019.csv", encoding='latin-1')
dfC = pd.read_csv("2020-2021_data.csv")

In [23]:
# Concatenate the DataFrames vertically (along the rows)
combined_df = pd.concat([dfA, dfB, dfC], axis=0)

# Reset the index of the combined DataFrame
combined_df = combined_df.reset_index(drop=True)

In [24]:
#Preview of all the combined datasets
combined_df.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,TheCollegeFever,NaN,"Bangalore, Karnataka, India","Brand Marketing, Event Promotion, Marketing, S...","TheCollegeFever is a hub for fun, fiesta and f...",NaN,NaN,250000,Seed
1,Happy Cow Dairy,NaN,"Mumbai, Maharashtra, India","Agriculture, Farming",A startup which aggregates milk from dairy far...,NaN,NaN,"?40,000,000",Seed
2,MyLoanCare,NaN,"Gurgaon, Haryana, India","Credit, Financial Services, Lending, Marketplace",Leading Online Loans Marketplace in India,NaN,NaN,"?65,000,000",Series A
3,PayMe India,NaN,"Noida, Uttar Pradesh, India","Financial Services, FinTech",PayMe India is an innovative FinTech organizat...,NaN,NaN,2000000,Angel
4,Eunimart,NaN,"Hyderabad, Andhra Pradesh, India","E-Commerce Platforms, Retail, SaaS",Eunimart is a one stop solution for merchants ...,NaN,NaN,,Seed

In [25]:
# Display the information summary of all the combined datasets
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  2879 non-null   object
 1   Founded        2110 non-null   float64
 2   HeadQuarter    2765 non-null   object
 3   Sector         2861 non-null   object
 4   What_it_does   2879 non-null   object
 5   Founders       2334 non-null   object
 6   Investor       2253 non-null   object
 7   Amount         2622 non-null   object
 8   Stage          1941 non-null   object
dtypes: float64(1), object(8)
memory usage: 202.6+ KB

In [26]:
# Check the number of rows and columns of the combined datasets


num_rows = combined_df.shape[0]
num_columns = combined_df.shape[1]

print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

Number of rows: 2879
Number of columns: 9

In [31]:
#Conversion of the total combined datasets to csv (i.e contains 2018, 2019, 2020, & 2021 data)

combined_df.to_csv("2018-2021_combined_data.csv", index=False)